name: V8 Version Check

on:
  workflow_dispatch:

jobs:
  check:
    name: Check V8 Version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Lastest Stable Version
        shell: bash
        run: |
          current_v8_version="$(head -n1 VERSION | cut -d'-' -f1)"

          latest_chromium_version="$(wget -qO- "https://chromiumdash.appspot.com/fetch_releases?channel=Stable&platform=Linux&num=1" | jq -r '.[0].version')"
          latest_v8_version="$(wget -qO- "https://chromiumdash.appspot.com/fetch_version?version=$latest_chromium_version" | jq -r '.v8_version')"

          echo "Current version: $current_v8_version"
          echo "Latest version: $latest_v8_version"

          if [ -n "$latest_v8_version" ] && [ x"$latest_v8_version" != x"$current_v8_version" ] ; then
            echo "NEW_V8_VERSION=$latest_v8_version" >> $GITHUB_ENV
          else
            echo "NEW_V8_VERSION=0" >> $GITHUB_ENV
          fi
